* {
  border-box: box-sizing;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
  width: 100%;
  max-width: 900px;
  margin: 200px auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

header > h2 {
  margin: 0;
}

.list-container {
  display: flex;
  justify-content: space-between;
}

.list-container-child {
  flex: 1 1 33%;
  margin-right: 30px;
}

.list-container-child > ul {
  width: 80%;
  list-style: none;
  padding-left: 0;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75), -1px 0px 5px 0 rgba(0, 0, 0, .55);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75), -1px 0px 5px 0 rgba(0, 0, 0, .55);
  background: rgba(0, 0, 0, .4);
}

/*ul {
  list-style-type: none;
  padding-left: 0;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75), -1px 0px 5px 0 rgba(0, 0, 0, .55);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75), -1px 0px 5px 0 rgba(0, 0, 0, .55);
}*/

.todo-list-item {
  display: flex;
  flex-wrap: wrap;

  padding: 10px 8px 10px 10px;
  margin-bottom: 5px;

  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.todo-list-item > span {
  flex: 1 1 100%;
  margin-bottom: 30px;
}

.todo-list-item_date {
  font-size: .75em;
  font-style: italic;
}

form {
  display: flex;
}

input[type="text"] {
  margin: 0 auto;
  padding: 15px 12px;
  border: 1px dashed #333;
  font-size: 1.125em;
}

input:focus {
  outline: none;
}

.task-done {
  text-decoration: line-through;
}

.btn {
  border-radius: 10px;
  outline: none;
  background: white;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, .4);
  padding: 10px 8px;
  margin-right: 5px;
}
