* {
  border-box: box-sizing;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
  width: 100%;
  max-width: 400px;
  margin: 200px auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

header > h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75), -1px 0px 5px 0 rgba(0, 0, 0, .55);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75), -1px 0px 5px 0 rgba(0, 0, 0, .55);
}

.todo-list-item {
  font-size: 1.25em;
  padding: 8px 0 8px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.todo-list-item:nth-child(odd) {
  background: rgba(0, 0, 0, .2);
}

.todo-list-item_name {
  flex: 1 1 80%;
}

.todo-list-item_actions {
  flex: 1 1 10%;
  align-content: flex-end;
}

.todo-list-item_actions > i {
  margin-right: 8px;
}

.todo-list-item_date {
  font-size: .75em;
  font-style: italic;
}

form {
  display: flex;
}

input[type="text"] {
  width: 100%;
  padding: 15px 12px;
  border: 1px dashed #333;
  font-size: 1.125em;
}

input:focus {
  outline: none;
}

.task-done {
  text-decoration: line-through;
}
